<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <form action="/" method="post">
        {{#showSites listSites selectedSite}}{{/showSites}}
        {{#showLimits sizeLimits limitSizeListFilms}}{{/showLimits}}
        <button type="submit">Update</button>
    </form>

    {{#if isListFilms}}
        <div id="list-film">
            </br>
            <div>List of films:</div>
            </br>
            {{#each listFilms}}
                <div>{{this}}</div>
            {{/each}}
        </div>
    {{/if}}
</body>
</html>