<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/css/index.css">
</head>
<body>
    <h1>{{ pageTitle }}</h1>
    <input type="text" id="example">
    <button id="action">Kliknij mnie</button>
    <p id="text"></p>
    <script src="/js/funct.js"></script>
</body>
</html>